// Color Palette
$clr-primary:           #f72585;
$clr-secondary:         #b5179e;
$clr-purple1:           #7209b7;
$clr-purple2:           #560bad;
$clr-purple3:           #480ca8;
$clr-purple4:           #3a0ca3;
$clr-purple5:           #3f37c9;
$clr-purple6:           #4361ee;
$clr-blue:              #4895ef;
$clr-lightblue:         #4cc9f0;
$clr-dark:              #240046;


$clr-text:              #f9f4f5;
$clr-bg-grad:           linear-gradient(to right, #eaafc8, #654ea3);
$clr-bg-grad2:          linear-gradient(to right, #4568dc, #b06ab3);
$clr-bg-grad3:          linear-gradient(to right, #ff9e00, #ff6d00);

$clr-warning:           #ff9e00;
$clr-warning-mid:       #ff8500;
$clr-warning-dark:      #ff6d00;

// Fonts
$font-family-primary:   'Roboto', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;
$font-family-name:      'Rock Salt', cursive;

$font-size-xs:          0.8rem;
$font-size-sm:          1.1rem;
$font-size-m:           1.8rem;
$font-size-l:           3rem;
$font-size-xl:          4.5rem;

// Spacings
$spacer-xs:             0.4rem;
$spacer-sm:             0.8rem;
$spacer-m:              1.5rem;
$spacer-l:              3rem;
$spacer-xl:             5rem;