@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Roboto:wght@100;300;400;700&family=Rock+Salt&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 110vh;
  background: -webkit-gradient(linear, left top, right top, from(#eaafc8), to(#654ea3));
  background: linear-gradient(to right, #eaafc8, #654ea3);
  position: relative;
}

header h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  -webkit-animation: text-shadow-drop-center 1.6s both;
  animation: text-shadow-drop-center 1.6s both;
}

header nav {
  width: 100%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
}

header nav ul a {
  text-decoration: none;
  color: #f9f4f5;
  padding: 0.8rem;
}

header nav ul a {
  font-size: 1.5rem;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  -webkit-box-shadow: 0 0.25em 0.5em rgba #000000, 0.2;
          box-shadow: 0 0.25em 0.5em rgba #000000, 0.2;
  position: relative;
}

header nav ul a::after {
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  opacity: 0;
}

header nav ul a:hover, header nav ul a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header nav ul a:hover::after, header nav ul a:focus::after {
  opacity: 1;
}

header nav ul a:hover {
  color: #7209b7;
}

header .heading {
  margin-top: 7rem;
  text-align: center;
}

header .heading h1 {
  -webkit-text-stroke: 1px #a8a8a8;
  font-size: 5rem;
  font-weight: 700;
  color: #f9f4f5;
  line-height: 0.9;
  letter-spacing: 2px;
  text-shadow: 1px 5px 3px #0f0f0f;
  -webkit-animation: text-pop-up-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: text-pop-up-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

header .heading h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #480ca8;
  margin-top: 0.8rem;
}

header .heading .button {
  background: -webkit-gradient(linear, left top, right top, from(#ff9e00), to(#ff6d00));
  background: linear-gradient(to right, #ff9e00, #ff6d00);
  padding: 0.8rem;
  margin-top: 5rem;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  color: #f9f4f5;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  -webkit-box-shadow: 0 0.25em 0.5em rgba #000000, 0.2;
          box-shadow: 0 0.25em 0.5em rgba #000000, 0.2;
  position: relative;
  -webkit-box-shadow: -11px 17px 19px 0px rgba(0, 0, 0, 0.39);
          box-shadow: -11px 17px 19px 0px rgba(0, 0, 0, 0.39);
}

header .heading .button::after {
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  opacity: 0;
}

header .heading .button:hover, header .heading .button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .heading .button:hover::after, header .heading .button:focus::after {
  opacity: 1;
}

header .heading .button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: -9px 15px 19px 0px rgba(0, 0, 0, 0.39);
          box-shadow: -9px 15px 19px 0px rgba(0, 0, 0, 0.39);
}

header img {
  width: 100%;
  position: absolute;
  bottom: 0%;
}

#skills {
  margin-top: 3rem;
  padding-bottom: 10rem;
}

#projects {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#eaafc8), to(#654ea3));
  background: linear-gradient(to right, #eaafc8, #654ea3);
}

#projects .wave .one {
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#projects .wave .two {
  width: 100%;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

#contact {
  padding: 10rem 0 15rem;
}

.contact-container {
  width: 80%;
  padding: 0.8rem !important;
  padding: 5rem;
  margin: 3rem auto;
  border-radius: 8px;
  background: linear-gradient(225deg, #f0f0f0, #e0e0e0);
  -webkit-box-shadow: -15px 15px 20px #bebebe, 15px -15px 20px #ffffff;
          box-shadow: -15px 15px 20px #bebebe, 15px -15px 20px #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container form {
  padding: 0.8rem;
}

.contact-container input, .contact-container textarea {
  width: 90%;
  border: 1px solid #e4e4e4;
  padding: 0.8rem;
  border-radius: 5px;
}

.contact-container input:focus, .contact-container textarea:focus {
  border: 2px solid purple;
}

.contact-container input[type="submit"], .contact-container textarea[type="submit"] {
  background: -webkit-gradient(linear, left top, right top, from(#ff9e00), to(#ff6d00));
  background: linear-gradient(to right, #ff9e00, #ff6d00);
  color: #f9f4f5;
  cursor: pointer;
}

.contact-container textarea {
  resize: none;
}

.contact-container .contact-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-size: 1.1rem;
  padding: 1.5rem 0;
  line-height: 1.7;
}

.contact-container .contact-info div {
  margin: 0.4rem 0;
}

.contact-container .contact-info .fa {
  color: #480ca8;
}

.contact-container .contact-info span {
  font-weight: 700;
}

.contact-container .contact-info a {
  text-decoration: none;
  color: black;
}

.contact-container .contact-info .hide {
  display: none;
}

footer {
  width: 100%;
  height: fi;
  background: -webkit-gradient(linear, left top, right top, from(#eaafc8), to(#654ea3));
  background: linear-gradient(to right, #eaafc8, #654ea3);
  text-align: center;
}

footer h3 {
  font-size: 1.8rem;
  color: #f9f4f5;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

footer img {
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer a {
  color: #f9f4f5;
  font-size: 3rem;
  padding-left: 1rem;
}

footer a i {
  padding-bottom: 3rem;
}

@media all and (min-width: 450px) {
  header .heading h1 {
    width: 80%;
    margin: 0 auto;
    font-size: 7rem;
  }
}

@media all and (min-width: 678px) {
  header h1 {
    width: 70%;
    margin: 0 auto;
  }
  #skills {
    width: 80%;
    margin: 0 auto;
  }
  #skills .cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  #skills .cards-container .card {
    width: 100%;
  }
  #skills .cards-container .card .back {
    padding: 0;
  }
  #projects .project-cards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact {
    width: 70%;
    margin: 0 auto;
  }
  #contact .contact-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contact .contact-container form {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  #contact .hide {
    display: block;
  }
  #contact .show {
    display: none;
  }
}

@media all and (min-width: 992px) {
  header {
    padding-top: 3rem;
  }
  header .heading h1 {
    width: 40%;
    margin: 0 auto;
    font-size: 8rem;
    margin-top: 10rem;
    width: 70%;
  }
  header .heading h2 {
    vertical-align: middle;
    font-size: 4.5rem;
  }
  header nav {
    width: 60%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  header nav ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
    margin-top: 0;
  }
  #skills {
    width: 80%;
  }
  #skills .cards-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  #projects .project-cards {
    width: 60%;
  }
}

.btn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
  -webkit-animation: wobble-hor-top 5s infinite both;
  animation: wobble-hor-top 5s infinite both;
}

.btn a {
  text-decoration: none;
  color: #480ca8;
  padding: 0.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#ff9e00), to(#ff6d00));
  background: linear-gradient(to right, #ff9e00, #ff6d00);
  border-radius: 10px;
}

.card {
  width: 60%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  -webkit-animation: shadow-drop-2-center-out 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center-out 0.4s cubic-bezier(0.25, 0.46, 0.95, 0.94) both;
  padding: 5rem;
  margin: 3rem auto;
  border-radius: 8px;
  background: linear-gradient(225deg, #f0f0f0, #e0e0e0);
  -webkit-box-shadow: -15px 15px 20px #bebebe, 15px -15px 20px #ffffff;
          box-shadow: -15px 15px 20px #bebebe, 15px -15px 20px #ffffff;
  gap: 0.8rem;
}

.card div {
  -webkit-animation: text-blur-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-blur-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 15vh;
  text-align: center;
}

.card .back {
  display: none;
}

.card .back img {
  color: #4361ee;
}

.card .back i {
  color: #ff6d00;
}

.card i {
  font-size: 3rem;
  font-weight: 700;
  color: #7209b7;
}

.card:hover {
  cursor: pointer;
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.95, 0.94) both;
}

.card:hover .front {
  display: none;
  -webkit-animation: text-blur-out 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-blur-out 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.card:hover .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-animation: text-blur-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-blur-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.project-cards {
  width: 70%;
  margin: 0 auto;
  margin: 3rem auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #f9f4f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  background: linear-gradient(225deg, #ffffff, #f9f4f5);
  -webkit-box-shadow: -11px 17px 19px 0px rgba(0, 0, 0, 0.39);
          box-shadow: -11px 17px 19px 0px rgba(0, 0, 0, 0.39);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.project-cards:before, .project-cards .text a:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 15px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.project-cards:hover, .project-cards:focus, .project-cards:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.project-cards:hover:before, .project-cards .text a:hover:before, .project-cards:hover:before, .project-cards .text a:hover:before, .project-cards:hover:before, .project-cards .text a:hover:before, .project-cards:focus:before, .project-cards .text a:focus:before, .project-cards:focus:before, .project-cards .text a:focus:before, .project-cards:focus:before, .project-cards .text a:focus:before, .project-cards:active:before, .project-cards .text a:active:before, .project-cards:active:before, .project-cards .text a:active:before, .project-cards:active:before, .project-cards .text a:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.project-cards .text {
  padding: 1.5rem;
  width: 50%;
  font-size: 1.1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-cards .text p {
  margin: 1.5rem 0;
}

.project-cards .text a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right top, from(#ff9e00), to(#ff6d00));
  background: linear-gradient(to right, #ff9e00, #ff6d00);
  padding: 0.4rem 1.5rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  color: #f9f4f5;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  -webkit-box-shadow: 0 0.25em 0.5em rgba #000000, 0.2;
          box-shadow: 0 0.25em 0.5em rgba #000000, 0.2;
  position: relative;
}

.project-cards .text a::after {
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  opacity: 0;
}

.project-cards .text a:hover, .project-cards .text a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-cards .text a:hover::after, .project-cards .text a:focus::after {
  opacity: 1;
}

.project-cards .text a:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.project-cards .img {
  width: 50%;
}

.project-cards .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes shadow-drop-2-center-out {
  0% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes shadow-drop-2-center-out {
  0% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(1px) opacity(0%);
    filter: blur(1px) opacity(0%);
  }
}

@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(1px) opacity(0%);
    filter: blur(1px) opacity(0%);
  }
}

@-webkit-keyframes text-blur-in {
  0% {
    -webkit-filter: blur(3px) opacity(0%);
    filter: blur(3px) opacity(0%);
  }
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
}

@keyframes text-blur-in {
  0% {
    -webkit-filter: blur(3px) opacity(0%);
    filter: blur(3px) opacity(0%);
  }
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #ff9e00;
  margin-top: 1.5rem;
}
/*# sourceMappingURL=main.css.map */